.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar button{
    background-color: #5361FE;
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px;

}