.list-pets--inside{
    margin-left :20px;
}

.list-pets--x span{
    color: #232D57;
}

.list-pets--inside li{
    color: #A0A6C3;
}

.list-pets--container{
    display: flex;
    gap:60px;
    cursor: pointer;
}

.list-space{
    margin-bottom: 20px;
}

.list-pets--img{
    width:80px;
    height: 66px;
   background-color: #ccc;
   border-radius: 50%;
   overflow: hidden;
}

.list-pets--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-pets--x{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg{
    cursor: pointer;
    margin-right: 10px;
}